RSS_Feed___Telegram_or_Discord_Bot.json
{
  "name": "RSS Feed → Telegram or Discord Bot",
  "nodes": [
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const data = item.json;\n  const message = `📰 *${data.title}*\\n🔗 ${data.link}\\n🕒 ${data.pubDate}`;\n  \n  return {\n    json: {\n      telegramMessage: message,\n      discordPayload: {\n        content: `📰 **${data.title}**\\n🔗 ${data.link}\\n🕒 ${data.pubDate}`\n      }\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -60,
        -20
      ],
      "id": "34a02562-b423-4ddf-b498-901f861633f3",
      "name": "Code"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 12
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -440,
        0
      ],
      "id": "a7a0f01b-1d26-4e2d-a330-aa505ea68076",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://rss.nytimes.com/services/xml/rss/nyt/Technology.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        -240,
        40
      ],
      "id": "2eb8a181-dfcf-4d0a-be51-57112a398a36",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "options": {
          "reset": "={{ $json.discordPayload.content }}"
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        180,
        100
      ],
      "id": "415bf6bc-3f9e-4b79-a585-3afadd8cf60a",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        340,
        140
      ],
      "id": "eb704cf1-2fad-43a5-b4e1-2ccf255cb67f",
      "name": "Wait",
      "webhookId": "4f5ff802-702e-4e9f-a44b-8971d36465be"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discordapp.com/api/webhooks/1399538234593116280/miJI6M5q350LnAiMAKOUIsjOEO_kzsr1gAlKtA6n8F-nH8H0Z3i78iy6t_tZzA0JnP7s",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.discordPayload }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        100
      ],
      "id": "6cc0641d-7184-4591-bb83-0a9942c9ba09",
      "name": "DIscord Channel"
    },
    {
      "parameters": {
        "chatId": "=6365993676",
        "text": "={{ $json.telegramMessage }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        180,
        -120
      ],
      "id": "6a34d70b-57a1-4c7d-98d1-79f03e3cd064",
      "name": "Telegram CHAT",
      "webhookId": "b7687b1b-b4a6-4fbb-bf35-e4497c4d00e2",
      "credentials": {
        "telegramApi": {
          "id": "8gszqkgPEDk4ki3A",
          "name": "Telegram account 9"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Code": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram CHAT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "DIscord Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DIscord Channel": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6ea5072c-374f-4ad6-8065-1528af4fc930",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2de80f5914130ddac7b892de4e5de570f30cd22f0b2bd794e45e389d7524d1e9"
  },
  "id": "hPudWMQO85zb4d0R",
  "tags": []
}